@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.search_container {
  background-image: radial-gradient(
    circle at 53.66% 46.34%,
    #43422a 0,
    #3b3e28 8.33%,
    #343826 16.67%,
    #2c3123 25%,
    #23291f 33.33%,
    #1c201a 41.67%,
    #141614 50%,
    #0b070a 58.33%,
    #010000 66.67%,
    #000000 75%,
    #000000 83.33%,
    #000000 91.67%,
    #000000 100%
  );
  height: 60px;
  margin-top: 20px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.content_container {
  max-width: fit-content;
  margin-left: 200px;
}

.content_container:hover {
  filter: brightness(1.3);
  transition: filter 0.3s;
}


.content_container input {
  position: relative;
  border-radius: 0 5px 5px 0;
  padding: 7px;
  border: none;
  outline: none;
  background-color: rgb(87, 82, 82);
  color: rgba(255, 255, 255, 0.705);
  top: 14px;
}

.content_container input::placeholder {
  color: rgba(255, 255, 255, 0.705);
  font-family: "VT323", monospace;
  font-size: 18px;
}

.content_container input:focus {
  color: white;
  font-family: "VT323", monospace;
  font-size: 18px;
  height: 15px;
  width: 169px;  
  box-shadow: -7px 1px 26px 3px rgba(189,0,181,0.83);
-webkit-box-shadow: -7px 1px 26px 3px rgba(189,0,181,0.83);
-moz-box-shadow: -7px 1px 26px 3px rgba(189,0,181,0.83);
transition:box-shadow 0.2s cubic-bezier(0.03, 0.02, 1, 0.99);
}



.btn {
  background-color: rgb(87, 82, 82);
  position: relative;
  right: 201px;
  border-radius: 5px 0 0 5px;
  width: 18px;
  height: 29px;
  top: 9px;
}

.lupa {
  width: 18px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.createContainer{
  color: rgba(255, 255, 255, 0.705);
  position: relative;
  left: 1578px;
  bottom: 21px;
  background-color: rgb(87, 82, 82);
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}

.createContainer:hover {
  filter: brightness(1.3);
  transition: filter 0.3s;
}

