.pagination-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px;
  position: relative;
  bottom: 15px;
}

.pagination{
  margin-top: 26px;
}

.pagination a {
  padding: 0px 10px;
}
.pagination a:focus img {
  box-shadow: -1px 1px 52px -8px rgba(237,237,237,0.45) inset;
-webkit-box-shadow: -1px 1px 52px -8px rgba(237,237,237,0.45) inset;
-moz-box-shadow: -1px 1px 52px -8px rgba(237,237,237,0.45) inset;
  border-radius: 10px;
}
.pagination a:hover:not(:focus) {
  filter: brightness(1.5);
}

.pagination img{
  width: 40px;
  image-rendering:optimizeQuality;
}
